


    
        <div class="span3"><a class="brand pull-right hidden-phone"><h6>Verifications</h6></a></div>
        <div class="span6">                    
          
          <table class="table table-striped footer-x hidden-phone">
            <tr> 
              
              <tr>
                <th>Facebook</th>
                <th>Offline ID</th>
                <th>Email Address</th>
                <th>LinkedIn</th>
                <th>Phone Number</th>
              </tr>
              <tr>
                <td>Adrian B</td>
                <td>Driver License</td>
                <td>Adrian@gmail.com</td>
                <td>Verified</td>
                <td>04122234234</td>
              </tr>
            </tr>
            
          </table>       
        </div>
     