<div class="navbar navbar-inverse navbar-static-top  ">
  <div class="navbar-inner ">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      

      <div class="nav-collapse collapse" id="nav-collapse-01">
        <!-- Default look -->
        <ul class="nav ">       
            <li><a href="#">About</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">Experience</a></li>
            <li><a href="#">Tutoring</a></li>
            <li><a href="#">Availability</a></li>
            <li><a href="#">Location</a></li>
            <li><a href="#">Comments</a></li>            
        </ul>      
      </div>
    </div>
  </div>
</div>