  <!--  Foto Profil -->
  <div class="span3  profil"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTCscD4xK0vTsHhIXfCTSGjtkXFdPwKnCOxX5CkoXQ1bgKlQ6U2" class="img-rounded"></img>
</div>

  <!-- Keterangan Profil -->
  <div class="span6">
      <hr>
      <p >
      <strong>Adrian B.</strong> 21, PhD at New York University<br>
                            Music, Science, Mathematics & Others<br>
                            New York, NY, 10012 | 0.8 miles away<br>        
      </p>
  </div>    
  <div class="span3 pull-right "> 
    
      <p>Want alternatives?</p>
     
    <%= render "home/alternatif_foto" %>
  </div>