
  <ul class="bottom-icons pull-left">           
    <li><a href="#fakelink" class="fui-twitter"></a></li>
    <li><a href="#fakelink" class="fui-facebook"></a></li>
    <li><a href="#fakelink" class="fui-linkedin"></a></li>
  </ul>
