<div class="container">
  <h1>Welcome James Ke</h1>
  <p>"What Do You Want To Search"
  <form class="form-search">
    <div class="input-prepend">
      <button type="submit" class="btn btn-huge"><span class="fui-search"></span></button>
      <input type="text" class="span8 huge search-query search-query-rounded" placeholder="Search" id="search-query-2"></input>
    </div>
  </form>
  </p>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  
</div>
