.footer-x{
  font-size: 12px;
  th{
    padding: 0px;
    padding-bottom: 5px;
    text-align: center;
  }
  td{
    padding: 0px;
    text-align: center;
    padding-bottom: 5px;
  }
}



.profil{
  padding-top:30px;
  padding-bottom:0px;
}