.footer-x{
  font-size: 12px;
  th{
    padding: 0px;
    padding-bottom: 5px;
    text-align: center;
  }
  td{
    padding: 0px;
    text-align: center;
    padding-bottom: 5px;
  }
}



.profil{
  padding-top:30px;
  padding-bottom:0px;
}

.iklan{
  padding-top:30px;
  padding-bottom:0px;
}

.headeriklan{
  padding-top:0px;
  padding-bottom:54px;
 }
 
 .well{
   margin-bottom:60px;
   border:1px solid #0E4D88;
   border-radius:1px;
 }