<div class="navbar ">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <a href="#" class="brand fui-flat">James Ke</a>

      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav nav-pills">
            <li>
              <a href="#">
                About
               
              </a>
            </li>
            <li>
              <a href="#">
                Education
               
              </a>
            </li>
            <li>
              <a href="#">
                Experience
             
              </a>
            </li>
            <li>
              <a href="#">
                Tutoring
             
              </a>
            </li>
            <li>
              <a href="#">
                Availability
               
              </a>
            </li>
            <li>
              <a href="#">
                Location
                
              </a>
            </li>
            <li>
              <a href="#">
                Comments
               
              </a>
            </li>            
          </ul>  
        
      </div>
    </div>
  </div>
</div>